@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "Poppins", sans-serif;
    background: #171717;
  }

  body::-webkit-scrollbar {
    width: 15px;
    height: 15px;
  }

  body::-webkit-scrollbar-track {
    border-radius: 0.25rem;
    background: #222222;
  }

  body::-webkit-scrollbar-thumb {
    background: #3f3f3f;
    border-radius: 0.2rem;
  }

  body::-webkit-scrollbar-thumb:hover {
    background: #6a696e;
  }

  html {
    -webkit-tap-highlight-color: transparent;
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    border: 1px solid #253341;
    -webkit-text-fill-color: white;
    -webkit-box-shadow: 0 0 0px 0px #253341 inset;
    box-shadow: 0 0 0px 0px #253341 inset;
    transition: background-color 5000s ease-in-out 0s;
    color: white;
    font-family: inherit;
    font-size: inherit;
  }
}

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 0.25rem;
    background: #222222;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #3f3f3f;
    border-radius: 0.2rem;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #6a696e;
  }
}
